@font-face {
  font-family: Bebas;
  src: url("./Bebas/BebasNeue-Regular.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Fjalla;
  src: url("./Fjalla/FjallaOne-Regular.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  src: url("./Oswald/Oswald-Regular.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Regular.ttf");
  font-display: swap;
  font-style: normal;
}